* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%; //1rem = 10px, 1.6rem = 16px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

html,
body {
  margin: 0;
  padding: 0;
}
