@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Poppins:wght@200&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  margin-top: -7.5rem;
}

/* width */
::-webkit-scrollbar {
  width: 0.7rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d7bd78;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #d7bd78;
}

.topjumbotron-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  padding: 0 0rem 5rem 0rem;
  text-transform: uppercase;
  color: #2b2b2b;
}

.topjumbotron-container article {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 20%;
  left: 0;
  right: 0;
  line-height: 6rem;
  text-align: center;
  background-color: #f5f5f576;
  padding: 6rem 1rem 9rem 1rem;
}

.topjumbotron-container article h1 {
  font-weight: 600;
  font-size: 3rem;
  letter-spacing: 0.5rem;
}

.topjumbotron-container article h3 {
  font-size: 2.2rem;
  letter-spacing: 0.3rem;
}

.topjumbotron-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -webkit-animation: animate 32s ease-in-out infinite;
          animation: animate 32s ease-in-out infinite;
}

@-webkit-keyframes animate {
  0%,
  100% {
    background-image: url("../assets/pattern3.png"), url("../assets/img1.jpg");
  }
  25% {
    background-image: url("../assets/pattern3.png"), url("../assets/img1.jpg");
  }
  50% {
    background-image: url("../assets/pattern3.png"), url("../assets/img2.jpg");
  }
  75% {
    background-image: url("../assets/pattern3.png"), url("../assets/img2.jpg");
  }
}

@keyframes animate {
  0%,
  100% {
    background-image: url("../assets/pattern3.png"), url("../assets/img1.jpg");
  }
  25% {
    background-image: url("../assets/pattern3.png"), url("../assets/img1.jpg");
  }
  50% {
    background-image: url("../assets/pattern3.png"), url("../assets/img2.jpg");
  }
  75% {
    background-image: url("../assets/pattern3.png"), url("../assets/img2.jpg");
  }
}

.cards-container {
  width: 100vw;
  height: 100vh;
  padding: 5rem 4rem 5rem 4rem;
}

.cards-container article {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cards-container article .cards-content,
.cards-container article .cards-subcontent,
.cards-container article .cards-slider {
  width: 100%;
  height: 100%;
}

.cards-content {
  z-index: 3;
  font-size: 3rem;
  line-height: 5rem;
  -webkit-box-flex: 33%;
      -ms-flex: 33%;
          flex: 33%;
  max-width: 33%;
  padding: 8rem 4rem 4rem 4rem;
  text-align: right;
  color: #fff;
  background-color: #222326;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
}

.cards-content h1:last-of-type {
  color: #d7bd78;
}

.cards-subcontent {
  z-index: 2;
  -webkit-box-flex: 33%;
      -ms-flex: 33%;
          flex: 33%;
  padding: 8rem 4rem 4rem 4rem;
  text-align: left;
  background-color: #f7f7f7;
  color: #919191;
  overflow-x: hidden;
  overflow-y: auto;
  min-width: 33%;
}

.cards-subcontent .cards-subcontent-title {
  font-size: 2.2rem;
  font-weight: 900;
  color: #5d5d5d;
}

.cards-subcontent p {
  font-size: 1.6rem;
}

.cards-slider {
  overflow: hidden;
  z-index: 1;
  -webkit-box-flex: 33%;
      -ms-flex: 33%;
          flex: 33%;
  height: 100%;
  position: relative;
  text-align: center;
}

.sliders {
  width: 300%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider {
  width: 100%;
  height: 100%;
  -webkit-transition: 1s linear;
  transition: 1s linear;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.slider-one {
  background-image: url("../assets/img1.jpg");
}

.slider-two {
  background-image: url("../assets/img2.jpg");
}

.slider-three {
  background-image: url("../assets/img3.jpg");
}

.cards-slider.expand {
  -webkit-box-flex: 66%;
      -ms-flex: 66%;
          flex: 66%;
}

.slider-buttons {
  width: 6rem;
  height: 6rem;
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: uppercase;
  border: none;
}

.show-button {
  z-index: 90;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  margin-top: auto;
  margin-bottom: auto;
  background-color: #222326;
  color: #d7bd78;
  border-radius: 3px 0px 0px 3px;
}

.arrows {
  cursor: pointer;
  width: 6rem;
  height: 6rem;
  position: absolute;
  bottom: 0;
  background-color: #d7be78bb;
  color: #2b2b2b;
}

.arrow-right {
  display: none;
  right: 0;
  border-radius: 3px 0px 0px 0px;
}

.arrow-right .right {
  text-align: center;
  width: 2.5rem;
  height: 2.5rem;
  border: 0.4rem solid #2b2b2b;
  border-bottom: none;
  border-left: none;
  -webkit-transform: translate(1rem, 1.9rem) rotate(45deg);
          transform: translate(1rem, 1.9rem) rotate(45deg);
}

.arrow-left {
  display: none;
  left: 0;
  border-radius: 0px 3px 0px 0px;
}

.arrow-left .left {
  text-align: center;
  width: 2.5rem;
  height: 2.5rem;
  border: 0.4rem solid #2b2b2b;
  border-top: none;
  border-right: none;
  -webkit-transform: translate(2rem, 1.9rem) rotate(45deg);
          transform: translate(2rem, 1.9rem) rotate(45deg);
}

.topnav-container {
  background-color: #fff;
  z-index: 10;
  position: -webkit-sticky;
  position: sticky;
  top: 80%;
  width: 100%;
  height: 7.5rem;
  padding-left: 4rem;
  padding-right: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2.2rem;
  letter-spacing: 0.2rem;
  font-weight: 600;
  text-transform: uppercase;
}

.topnav-logo {
  -webkit-box-flex: 15%;
      -ms-flex: 15%;
          flex: 15%;
  text-align: left;
  margin-left: 2.5rem;
}

.topnav-logo img {
  width: 8rem;
  height: auto;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
}

.topnav-logo img:hover {
  opacity: 0.5;
}

.topnav-menu {
  -webkit-box-flex: 70%;
      -ms-flex: 70%;
          flex: 70%;
  text-align: center;
}

.topnav-menu a {
  color: #2b2b2b;
  padding: 0 2.5rem 0 2.5rem;
  background: linear-gradient(60deg, #d7bd78 50%, #fff 50%);
  background-size: 250%;
  background-position: right;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
}

.topnav-menu a:hover {
  background-position: left;
  color: #fff;
  text-decoration: none;
}

.topnav-socialmedia {
  -webkit-box-flex: 15%;
      -ms-flex: 15%;
          flex: 15%;
  text-align: right;
  margin-right: 2.5rem;
}

.topnav-socialmedia img {
  width: 2.5rem;
  height: auto;
  margin-left: 2rem;
  opacity: 0.3;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
}

.topnav-socialmedia img:hover {
  opacity: 1;
}

.footer {
  width: 100%;
  height: 100vh;
  background-color: #222326;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer article {
  text-align: center;
  margin: 3rem;
}

.footer-top img {
  width: 150px;
  height: auto;
  opacity: 0.6;
}

.footer-middle {
  color: #919191;
}

.footer-bottom {
  text-align: center;
  cursor: pointer;
}

.footer-bottom img {
  width: auto;
  height: 50px;
}

.footer-bottom h4 {
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 0.1rem;
  color: #919191;
}

.footer-bottom-arrow {
  width: 2rem;
  height: 2rem;
  border: 0.3rem solid #d7bd78;
  border-bottom: none;
  border-right: none;
  -webkit-animation: arrow-jump 1.5s infinite;
          animation: arrow-jump 1.5s infinite;
}

@-webkit-keyframes arrow-jump {
  0% {
    -webkit-transform: translateY(-2.5rem) rotate(45deg);
            transform: translateY(-2.5rem) rotate(45deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0.5rem) rotate(45deg);
            transform: translateY(0.5rem) rotate(45deg);
    opacity: 0.9;
  }
}

@keyframes arrow-jump {
  0% {
    -webkit-transform: translateY(-2.5rem) rotate(45deg);
            transform: translateY(-2.5rem) rotate(45deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0.5rem) rotate(45deg);
            transform: translateY(0.5rem) rotate(45deg);
    opacity: 0.9;
  }
}

.contact-contact h1 {
  font-weight: 600;
}

.contact-contact h1:last-of-type {
  font-weight: 500;
}

.contact-contact h1:last-of-type a {
  color: #d7bd78;
  text-decoration: none;
}

.contact-contact h1:last-of-type a:last-of-type {
  padding-right: 0.4rem;
}

.contact-address {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  line-height: 5rem;
}

.contact-address a:hover {
  text-decoration: none;
}

.contact-address h1:first-of-type {
  color: #5d5d5d;
  font-size: 3rem;
  font-weight: 600;
}

.contact-address h1:first-of-type:hover {
  color: #5d5d5d;
}

.contact-address h1 {
  font-size: 2.2rem;
  color: #919191;
}

.contact-address h1:hover {
  color: #d7bd78;
}

.gallery {
  padding: 5rem 4rem 5rem 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.gallery .gallery-image {
  -webkit-box-flex: 25%;
      -ms-flex: 25%;
          flex: 25%;
  padding: 0.2rem;
}

.gallery .gallery-image img {
  width: 100%;
  height: 100%;
}
/*# sourceMappingURL=main.css.map */