@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Poppins:wght@200&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* width */
::-webkit-scrollbar {
  width: 0.7rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d7bd78;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #d7bd78;
}

.topjumbotron-container {
  position: relative;
  width: 100vw;
  height: 88vh;
  padding: 0 0rem 5rem 0rem;
  text-transform: uppercase;
  color: #fff;
}

.topjumbotron-container article {
  font-family: "Poppins", sans-serif;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 40%;
  left: 0;
  right: 0;
  line-height: 6rem;
  text-align: center;
  background-color: transparent;
  padding: 6rem 1rem 9rem 1rem;
}

.topjumbotron-container article h1 {
  font-weight: 600;
  font-size: 5rem;
  letter-spacing: 0.5rem;
}

.topjumbotron-container article h3 {
  font-size: 1.6rem;
  letter-spacing: 0.3rem;
}

.topjumbotron-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -webkit-animation: animate 32s ease-in-out infinite;
          animation: animate 32s ease-in-out infinite;
}

@-webkit-keyframes animate {
  0%,
  100% {
    background-image: url("../assets/rd-gif.gif");
  }
  25% {
    background-image: url("../assets/rd-gif.gif");
  }
  20% {
    background-image: url("../assets/img8.jpg");
  }
  87% {
    background-image: url("../assets/img8.jpg");
  }
}

@keyframes animate {
  0%,
  100% {
    background-image: url("../assets/rd-gif.gif");
  }
  25% {
    background-image: url("../assets/rd-gif.gif");
  }
  20% {
    background-image: url("../assets/img8.jpg");
  }
  87% {
    background-image: url("../assets/img8.jpg");
  }
}

.entrance-page__wrapper--animation {
  text-align: center;
  color: #f5f5f5;
  font-weight: 900;
  font-size: 14px;
  letter-spacing: 1em;
  text-transform: uppercase;
  padding-right: 35px;
}

.entrance-page__wrapper--animation .letter {
  display: inline-block;
}

.cards-container {
  width: 100vw;
  height: 100vh;
  padding: 5rem 4rem 5rem 4rem;
}

.cards-container article {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cards-container article .cards-content,
.cards-container article .cards-subcontent,
.cards-container article .cards-slider {
  width: 100%;
  height: 100%;
}

.cards-content {
  z-index: 3;
  font-size: 3rem;
  line-height: 5rem;
  -webkit-box-flex: 33%;
      -ms-flex: 33%;
          flex: 33%;
  max-width: 33%;
  padding: 8rem 4rem 4rem 4rem;
  text-align: right;
  color: #fff;
  background-color: #222326;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
}

.cards-content h1:last-of-type {
  color: #d7bd78;
}

.cards-subcontent {
  z-index: 2;
  -webkit-box-flex: 33%;
      -ms-flex: 33%;
          flex: 33%;
  padding: 8rem 4rem 4rem 4rem;
  text-align: left;
  background-color: #f7f7f7;
  color: #919191;
  overflow-x: hidden;
  overflow-y: auto;
  min-width: 33%;
}

.cards-subcontent .cards-subcontent-title {
  font-size: 2.2rem;
  font-weight: 900;
  color: #5d5d5d;
}

.cards-subcontent p {
  font-size: 1.6rem;
}

.cards-slider {
  overflow: hidden;
  z-index: 1;
  -webkit-box-flex: 33%;
      -ms-flex: 33%;
          flex: 33%;
  height: 100%;
  position: relative;
  text-align: center;
}

.sliders {
  width: 300%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider {
  width: 100%;
  height: 100%;
  -webkit-transition: 1s linear;
  transition: 1s linear;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.slider-one {
  background-image: url("../assets/img1.jpg");
}

.slider-two {
  background-image: url("../assets/img2.jpg");
}

.slider-three {
  background-image: url("../assets/img3.jpg");
}

.cards-slider.expand {
  -webkit-box-flex: 66%;
      -ms-flex: 66%;
          flex: 66%;
}

.slider-buttons {
  width: 6rem;
  height: 6rem;
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: uppercase;
  border: none;
}

.show-button {
  z-index: 90;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  margin-top: auto;
  margin-bottom: auto;
  background-color: #222326;
  color: #d7bd78;
  border-radius: 3px 0px 0px 3px;
}

.arrows {
  cursor: pointer;
  width: 6rem;
  height: 6rem;
  position: absolute;
  bottom: 0;
  background-color: #d7be78bb;
  color: #2b2b2b;
}

.arrow-right {
  display: none;
  right: 0;
  border-radius: 3px 0px 0px 0px;
}

.arrow-right .right {
  text-align: center;
  width: 2.5rem;
  height: 2.5rem;
  border: 0.4rem solid #2b2b2b;
  border-bottom: none;
  border-left: none;
  -webkit-transform: translate(1rem, 1.9rem) rotate(45deg);
          transform: translate(1rem, 1.9rem) rotate(45deg);
}

.arrow-left {
  display: none;
  left: 0;
  border-radius: 0px 3px 0px 0px;
}

.arrow-left .left {
  text-align: center;
  width: 2.5rem;
  height: 2.5rem;
  border: 0.4rem solid #2b2b2b;
  border-top: none;
  border-right: none;
  -webkit-transform: translate(2rem, 1.9rem) rotate(45deg);
          transform: translate(2rem, 1.9rem) rotate(45deg);
}

@media screen and (max-width: 825px) {
  .cards-container {
    width: 100%;
    height: 100%;
  }
  .cards-container article {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .cards-container article .cards-content,
  .cards-container article .cards-subcontent,
  .cards-container article .cards-slider {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
    min-width: 100%;
    text-align: center;
  }
  .cards-content {
    padding: 4.5rem;
    min-height: 20rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .cards-subcontent {
    overflow: hidden;
    padding: 4.5rem;
    min-height: 20rem;
  }
  .cards-slider {
    min-height: 60vh;
    background-color: #2b2b2b;
  }
  .slider {
    min-height: 60vh;
    background-size: contain;
  }
  .show-button {
    display: none;
  }
}

@media screen and (max-width: 345px) {
  .cards-container {
    padding: 0;
  }
}

.topnav-container {
  background-color: #fff;
  z-index: 10;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  padding-left: 4rem;
  padding-right: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2.2rem;
  letter-spacing: 0.2rem;
  font-weight: 600;
  text-transform: uppercase;
  -webkit-box-shadow: 5px 10px 18px rgba(0, 0, 0, 0.143);
          box-shadow: 5px 10px 18px rgba(0, 0, 0, 0.143);
}

.topnav-logo {
  -webkit-box-flex: 15%;
      -ms-flex: 15%;
          flex: 15%;
  text-align: left;
  margin-left: 2.5rem;
}

.topnav-logo img {
  margin: 0.5rem;
  width: 8rem;
  height: auto;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
}

.topnav-logo img:hover {
  opacity: 0.5;
}

.topnav-menu {
  -webkit-box-flex: 70%;
      -ms-flex: 70%;
          flex: 70%;
  text-align: center;
}

.topnav-menu > * {
  color: #2b2b2b;
  padding: 0 2.5rem 0 2.5rem;
  background: linear-gradient(60deg, #d7bd78 50%, #fff 50%);
  background-size: 250%;
  background-position: right;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
}

.topnav-menu > *:hover {
  background-position: left;
  color: #fff;
  text-decoration: none;
}

.topnav-menu .dropdown {
  cursor: pointer;
  position: relative;
  display: inline-block;
}

.topnav-menu .dropdown:hover .dropdown__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.topnav-menu .dropdown__menu {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 32px;
  left: 0px;
  z-index: 90;
  -webkit-box-shadow: 5px 10px 18px rgba(0, 0, 0, 0.143);
          box-shadow: 5px 10px 18px rgba(0, 0, 0, 0.143);
  background-color: rgba(0, 0, 0, 0.564);
}

.topnav-menu .dropdown__menu a {
  color: rgba(255, 255, 255, 0.802);
  padding: 1.2rem;
  font-size: 1.5rem;
}

.topnav-menu .dropdown__menu a:hover {
  text-decoration: none;
  color: #d7bd78;
}

.topnav-socialmedia {
  -webkit-box-flex: 15%;
      -ms-flex: 15%;
          flex: 15%;
  text-align: right;
  margin-right: 2.5rem;
}

.topnav-socialmedia img {
  margin-left: 2rem;
  width: 2.5rem;
  height: auto;
  opacity: 0.3;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
}

.topnav-socialmedia img:hover {
  opacity: 1;
}

.nav-icon {
  display: none;
  z-index: 95;
  position: absolute;
  right: 5%;
  cursor: pointer;
}

.nav-icon__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-color: transparent;
  width: 4.5rem;
  cursor: pointer;
}

.nav-icon__span {
  z-index: 95;
  display: block;
  background: #2b2b2b;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  margin-top: 8px;
  height: 2px;
  float: right;
}

.nav-icon__span-first {
  width: 80%;
}

.nav-icon__span-second {
  width: 60%;
}

.nav-icon__span-third {
  width: 90%;
}

.active span:nth-child(1) {
  -webkit-animation: ease 0.7s top forwards;
          animation: ease 0.7s top forwards;
}

.not-active span:nth-child(1) {
  -webkit-animation: ease 0.7s top-2 forwards;
          animation: ease 0.7s top-2 forwards;
}

.active span:nth-child(2) {
  -webkit-animation: ease 0.7s scaled forwards;
          animation: ease 0.7s scaled forwards;
}

.not-active span:nth-child(2) {
  -webkit-animation: ease 0.7s scaled-2 forwards;
          animation: ease 0.7s scaled-2 forwards;
}

.active span:nth-child(3) {
  -webkit-animation: ease 0.7s bottom forwards;
          animation: ease 0.7s bottom forwards;
}

.not-active span:nth-child(3) {
  -webkit-animation: ease 0.7s bottom-2 forwards;
          animation: ease 0.7s bottom-2 forwards;
}

.modalNav {
  z-index: 90;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  font-size: 2.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  -webkit-animation: nav-animation 0.5s ease-in-out;
          animation: nav-animation 0.5s ease-in-out;
}

.modalNav .modal-logo {
  -webkit-box-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
  margin: 3rem 0.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modalNav .modal-logo img {
  margin: 0.5rem;
  width: 14rem;
  height: auto;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
}

.modalNav .modal-logo img:hover {
  opacity: 0.5;
}

.modalNav .modal-menu {
  -webkit-box-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modalNav .modal-menu > * {
  color: #2b2b2b;
  padding: 0 2.5rem 0 2.5rem;
  margin: 2rem;
  background: linear-gradient(60deg, #d7bd78 50%, #fff 50%);
  background-size: 250%;
  background-position: right;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
}

.modalNav .modal-menu > *:hover {
  background-position: left;
  color: #fff;
  text-decoration: none;
}

.modalNav .modal-menu .dropdown {
  cursor: pointer;
  position: relative;
  display: inline-block;
}

.modalNav .modal-menu .dropdown:hover .dropdown__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modalNav .modal-menu .dropdown__menu {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 32px;
  left: 0px;
  z-index: 90;
  -webkit-box-shadow: 5px 10px 18px rgba(0, 0, 0, 0.143);
          box-shadow: 5px 10px 18px rgba(0, 0, 0, 0.143);
  background-color: rgba(0, 0, 0, 0.564);
}

.modalNav .modal-menu .dropdown__menu a {
  color: rgba(255, 255, 255, 0.802);
  padding: 1.2rem;
  font-size: 1.5rem;
}

.modalNav .modal-menu .dropdown__menu a:hover {
  text-decoration: none;
  color: #d7bd78;
}

.modalNav .modal-socialmedia {
  -webkit-box-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modalNav .modal-socialmedia a {
  text-align: center;
}

.modalNav .modal-socialmedia a img {
  margin: 3rem 1rem;
  width: 3.5rem;
  height: auto;
  opacity: 0.3;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
}

.modalNav .modal-socialmedia a img:hover {
  opacity: 1;
}

@-webkit-keyframes nav-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes nav-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes top {
  0% {
    top: 0;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  50% {
    top: 1px;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    top: 1px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@keyframes top {
  0% {
    top: 0;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  50% {
    top: 1px;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    top: 1px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@-webkit-keyframes top-2 {
  0% {
    top: 22px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  50% {
    top: 22px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    top: 0;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes top-2 {
  0% {
    top: 22px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  50% {
    top: 22px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    top: 0;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes bottom {
  0% {
    width: 90%;
    bottom: 0;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  50% {
    bottom: 19px;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    width: 80%;
    bottom: 19px;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
}

@keyframes bottom {
  0% {
    width: 90%;
    bottom: 0;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  50% {
    bottom: 19px;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    width: 80%;
    bottom: 19px;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
}

@-webkit-keyframes bottom-2 {
  0% {
    bottom: 22px;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  50% {
    bottom: 22px;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    bottom: 0;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@keyframes bottom-2 {
  0% {
    bottom: 22px;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  50% {
    bottom: 22px;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    bottom: 0;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@-webkit-keyframes scaled {
  50% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes scaled {
  50% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@-webkit-keyframes scaled-2 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes scaled-2 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@media screen and (max-width: 940px) {
  .topnav-container {
    font-size: 1.65rem;
  }
}

@media screen and (max-width: 825px) {
  .topnav-logo {
    margin-left: 0;
  }
  .topnav-menu {
    display: none;
  }
  .topnav-socialmedia {
    display: none;
  }
  .nav-icon {
    display: block;
    top: 0%;
    -webkit-transform: translateY(90%);
            transform: translateY(90%);
  }
}

.footer {
  width: 100vw;
  height: 100vh;
  background-color: #222326;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer article {
  text-align: center;
  margin-top: 6rem;
}

.footer-top img {
  width: 150px;
  height: auto;
  opacity: 0.6;
}

.footer-middle {
  color: #919191;
}

.footer-bottom {
  text-align: center;
  cursor: pointer;
}

.footer-bottom img {
  width: auto;
  height: 50px;
}

.footer-bottom h4 {
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 0.1rem;
  color: #919191;
}

.footer-bottom-arrow {
  width: 2rem;
  height: 2rem;
  border: 0.3rem solid #d7bd78;
  border-bottom: none;
  border-right: none;
  -webkit-animation: arrow-jump 1.5s infinite;
          animation: arrow-jump 1.5s infinite;
}

@-webkit-keyframes arrow-jump {
  0% {
    -webkit-transform: translateY(-2.5rem) rotate(45deg);
            transform: translateY(-2.5rem) rotate(45deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0.5rem) rotate(45deg);
            transform: translateY(0.5rem) rotate(45deg);
    opacity: 0.9;
  }
}

@keyframes arrow-jump {
  0% {
    -webkit-transform: translateY(-2.5rem) rotate(45deg);
            transform: translateY(-2.5rem) rotate(45deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0.5rem) rotate(45deg);
            transform: translateY(0.5rem) rotate(45deg);
    opacity: 0.9;
  }
}

.css-0 {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateY(-10%);
          transform: translateY(-10%);
  background-color: rgba(0, 0, 0, 0.109);
}

.css-0 span {
  background-color: #d7bd78;
}

.contact-contact h1 {
  font-weight: 600;
}

.contact-contact h1:last-of-type {
  font-weight: 500;
}

.contact-contact h1:last-of-type a {
  color: #d7bd78;
  text-decoration: none;
}

.contact-contact h1:last-of-type a:last-of-type {
  padding-right: 0.4rem;
}

.contact-address {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  line-height: 5rem;
}

.contact-address a:hover {
  text-decoration: none;
}

.contact-address h1:first-of-type {
  color: #5d5d5d;
  font-size: 3rem;
  font-weight: 600;
}

.contact-address h1:first-of-type:hover {
  color: #5d5d5d;
}

.contact-address h1 {
  font-size: 2.2rem;
  color: #919191;
}

.contact-address h1:hover {
  color: #d7bd78;
}

.gallery {
  position: relative;
  padding: 5rem 4rem 5rem 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.gallery .gallery-image {
  -webkit-box-flex: 25%;
      -ms-flex: 25%;
          flex: 25%;
  max-width: 25%;
  padding: 0.2rem;
  cursor: pointer;
}

.gallery .gallery-image img {
  width: 100%;
  height: 100%;
}

.modal-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.503);
}

.modal-container .modal-image {
  width: 70vw;
  margin: 8rem 6rem 8rem 6rem;
}

.prev-icon,
.next-icon,
.x-icon {
  position: absolute;
  width: 5rem;
  height: 5rem;
  margin: 0.5rem;
  padding: 1rem;
}

.prev-icon,
.next-icon {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.prev-icon {
  left: 5%;
}

.next-icon {
  right: 5%;
}

.x-icon {
  top: 5%;
  right: 5%;
}

@media screen and (max-width: 1024px) {
  .gallery .gallery-image {
    -webkit-box-flex: 33.33%;
        -ms-flex: 33.33%;
            flex: 33.33%;
    max-width: 33.33%;
  }
}

@media screen and (max-width: 540px) {
  .gallery .gallery-image {
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
    max-width: 50%;
  }
}

.about article .cards-subcontent {
  text-align: center;
}

.about article .cards-content h1 img {
  width: 150px;
  height: auto;
  opacity: 0.6;
}

.offers {
  position: relative;
}

.offers article .cards-subcontent {
  text-align: center;
}

.offers article .cards-content h1 img {
  width: 150px;
  height: auto;
  opacity: 0.6;
}

.titles-container {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.titles-container .titles-container__subtitle {
  text-transform: uppercase;
  letter-spacing: 0.09em;
  font-size: 18px;
  color: #5d5d5d;
}

.titles-container.titles-container__nav-sticky {
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: transparent;
  z-index: 5;
}

.titles-container__menu-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.titles-container__menu-nav .titles-container__menu-nav-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.titles-container__menu-nav .titles-container__menu-nav-card .titles-container__subtitle {
  text-align: center;
  margin: 1rem;
  color: #2b2b2b;
  line-height: 1.5;
  text-transform: uppercase;
  font-size: 16px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.titles-container__menu-nav .titles-container__menu-nav-card .titles-container__subtitle a {
  color: #fff;
  padding: 0.7rem 2.5rem 0.7rem 2.5rem;
  background: linear-gradient(60deg, transparent 50%, #d7be7898 50%);
  background-size: 250%;
  background-position: right;
  -webkit-transition: background-position 1.5s ease-out;
  transition: background-position 1.5s ease-out;
}

.titles-container__menu-nav .titles-container__menu-nav-card .titles-container__subtitle a:hover {
  background-position: left;
  color: #d7bd78;
  text-decoration: none;
  cursor: pointer;
}

.titles-container__menu-fast {
  display: none;
  background-color: #d7bd78;
  padding: 0.5rem 1rem;
  cursor: pointer;
  width: 15rem;
  font-size: 1.4rem;
}

.header-container {
  color: #fff;
  text-transform: uppercase;
}

.header-container h1 {
  font-family: "Poppins", sans-serif;
  line-height: 6rem;
  text-align: right;
  background-color: transparent;
  font-weight: 600;
  font-size: 4rem;
  letter-spacing: 0.5rem;
  padding-right: 10%;
  margin-top: 10%;
}

.header-container h5 {
  text-align: right;
  padding-right: 10%;
}

@media screen and (max-width: 1140px) {
  .titles-container__menu-nav .titles-container__menu-nav-card .titles-container__subtitle {
    font-size: 12px;
  }
}

@media screen and (max-width: 991px) {
  .titles-container__menu-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .titles-container__menu-nav .titles-container__menu-nav-card {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
  }
  .titles-container__menu-nav .titles-container__menu-nav-card .titles-container__subtitle {
    min-width: 120px;
  }
}

@media screen and (max-width: 825px) {
  .titles-container.titles-container__nav-sticky {
    width: 100%;
  }
  .titles-container.titles-container__nav-sticky .titles-container__menu-fast {
    display: block;
  }
  .titles-container.titles-container__nav-sticky .titles-container__menu-nav {
    display: none;
  }
  .titles-container.titles-container__nav-sticky .titles-container__menu-nav .titles-container__menu-nav-card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .titles-container.titles-container__nav-sticky .titles-container__menu-nav .titles-container__menu-nav-card .titles-container__subtitle {
    padding-top: 25px;
  }
  .titles-container.titles-container__nav-sticky .titles-container__menu-nav.active {
    padding-bottom: 10px;
    display: block;
    height: 100%;
    background-color: black;
  }
  .titles-container.titles-container__nav-sticky .titles-container__menu-nav.active .titles-container__subtitle a {
    background: transparent;
    -webkit-transition: 0s;
    transition: 0s;
  }
  .titles-container.titles-container__nav-sticky .titles-container__menu-nav.active .titles-container__subtitle a:hover {
    color: #d7bd78;
    font-weight: 600;
  }
  .titles-container.titles-container__nav-sticky .titles-container__menu-nav.active .titles-container__menu-nav-card h4:first-child {
    margin-top: 0px;
  }
}

@media screen and (max-width: 400px) {
  .titles-container__menu-fast {
    font-size: 16px;
  }
}
/*# sourceMappingURL=main.css.map */