@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Poppins:wght@200&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* width */
::-webkit-scrollbar {
  width: 0.7rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #222326;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #222326;
}

.topjumbotron-container {
  width: 100vw;
  height: 100vh;
  padding: 0 0rem 5rem 0rem;
  margin-top: -80px;
  text-transform: uppercase;
  color: #2b2b2b;
}

.topjumbotron-img {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url("../assets/image-example.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.topjumbotron-img article {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 20%;
  left: 0;
  right: 0;
  text-align: center;
  background-color: #f5f5f576;
  padding: 6rem 1rem 9rem 1rem;
}

.topjumbotron-img article h1 {
  font-weight: 600;
  font-size: 3rem;
  letter-spacing: 0.5rem;
}

.topjumbotron-img article h3 {
  font-size: 2rem;
  letter-spacing: 0.3rem;
}

.cards-container {
  width: 100vw;
  height: 100vh;
  padding: 5rem 4rem 5rem 4rem;
}

.cards-container article {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cards-container article div {
  width: 100%;
  height: 100%;
  -webkit-box-flex: 33%;
      -ms-flex: 33%;
          flex: 33%;
}

.cards-content {
  padding: 8rem 4rem 4rem 4rem;
  text-align: right;
  color: #fff;
  background-color: #222326;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
}

.cards-content h1:last-of-type {
  color: #d7bd78;
}

.cards-subcontent {
  padding: 8rem 4rem 4rem 4rem;
  text-align: left;
  background-color: #f7f7f7;
  color: #919191;
  overflow-x: hidden;
  overflow-y: auto;
  min-width: 33%;
}

.cards-subcontent .cards-subcontent-title {
  font-size: 2rem;
  font-weight: 900;
  color: #5d5d5d;
}

.cards-subcontent p {
  font-size: 1.6rem;
}

.cards-slider {
  text-align: center;
}

.cards-slider img {
  width: auto;
  height: 100%;
}

.topnav-container {
  background-color: #fff;
  z-index: 10;
  position: -webkit-sticky;
  position: sticky;
  top: 80%;
  width: 100%;
  height: 7.5rem;
  padding-left: 4rem;
  padding-right: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.8rem;
  letter-spacing: 0.2rem;
  font-weight: 600;
  text-transform: uppercase;
}

.topnav-logo {
  -webkit-box-flex: 15%;
      -ms-flex: 15%;
          flex: 15%;
  text-align: left;
  margin-left: 2.5rem;
}

.topnav-logo img {
  width: 8rem;
  height: auto;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
}

.topnav-logo img:hover {
  opacity: 0.5;
}

.topnav-menu {
  -webkit-box-flex: 70%;
      -ms-flex: 70%;
          flex: 70%;
  text-align: center;
}

.topnav-menu a {
  color: #2b2b2b;
  padding: 0 2.5rem 0 2.5rem;
  background: linear-gradient(60deg, #d7bd78 50%, #fff 50%);
  background-size: 250%;
  background-position: right;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
}

.topnav-menu a:hover {
  background-position: left;
  color: #fff;
  text-decoration: none;
}

.topnav-socialmedia {
  -webkit-box-flex: 15%;
      -ms-flex: 15%;
          flex: 15%;
  text-align: right;
  margin-right: 2.5rem;
}

.topnav-socialmedia img {
  width: 2.5rem;
  height: auto;
  margin-left: 2rem;
  opacity: 0.3;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
}

.topnav-socialmedia img:hover {
  opacity: 1;
}

.footer {
  width: 100%;
  height: 100vh;
  background-color: #222326;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer article {
  text-align: center;
  margin: 3rem;
}

.footer-top img {
  width: 150px;
  height: auto;
  opacity: 0.6;
}

.footer-middle {
  color: #919191;
}

.footer-bottom {
  cursor: pointer;
}

.footer-bottom img {
  width: auto;
  height: 50px;
}

.footer-bottom h4 {
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 0.1rem;
  color: #919191;
}

.footer-bottom-arrow {
  text-align: center;
  width: 2rem;
  height: 2rem;
  border: 0.3rem solid #d7bd78;
  border-bottom: none;
  border-right: none;
  -webkit-animation: arrowJump 1.5s infinite;
          animation: arrowJump 1.5s infinite;
}

@-webkit-keyframes arrowJump {
  0% {
    -webkit-transform: translateY(-2.5rem) rotate(45deg);
            transform: translateY(-2.5rem) rotate(45deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0.5rem) rotate(45deg);
            transform: translateY(0.5rem) rotate(45deg);
    opacity: 0.9;
  }
}

@keyframes arrowJump {
  0% {
    -webkit-transform: translateY(-2.5rem) rotate(45deg);
            transform: translateY(-2.5rem) rotate(45deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0.5rem) rotate(45deg);
            transform: translateY(0.5rem) rotate(45deg);
    opacity: 0.9;
  }
}
/*# sourceMappingURL=main.css.map */