.about {
  article {
    .cards-subcontent {
      text-align: center;
      display: block;
    }

    .cards-content {
      h1 {
        img {
          width: 150px;
          height: auto;
          opacity: 0.6;
        }
      }
    }
  }
}
