
//text-color
$primaryTextColor: #f5f5f5;
$secondaryTextColor: #1d1d1d;
$supplementaryTextColor: rgb(112, 0, 0);

//background-color
$primaryBackgroundColor: #fff;
$secondaryBackgroundColor: #f5f5f5;

//hover
$hoverWeight: bolder;
$hoverTransform: none;