.topnav-container {
  background-color: #fff;
  z-index: 10;
  position: sticky;
  top: 80%;
  width: 100%;
  height: 7.5rem;
  padding-left: 2.25rem;
  padding-right: 2.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.topnav-logo {
  flex: 15%;
  text-align: left;
  margin-left: 2.5rem;
  img {
    width: 8rem;
    height: auto;
    transition: 0.4s ease-out;
    &:hover {
      opacity: 0.5;
    }
  }
}

.topnav-menu {
  flex: 70%;
  text-align: center;
  a {
    padding: 0 2.5rem 0 2.5rem;
    font-family: $family-fonts-secondary;
    font-size: 1.8rem;
    letter-spacing: 0.2rem;
    font-weight: 600;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.802);
    background: linear-gradient(60deg, #d7bd78 50%, #ffffff 50%);
    background-size: 250%;
    background-position: right;
    transition: 0.4s ease-out;
    &:hover {
      background-position: left;
      color: #fff;
      text-decoration: none;
    }
  }
}

.topnav-socialmedia {
  flex: 15%;
  text-align: right;
  margin-right: 2.5rem;
  img {
    width: 2.5rem;
    height: auto;
    margin-left: 2rem;
    opacity: 0.3;
    transition: 0.4s ease-out;
    &:hover {
      opacity: 1;
    }
  }
}
