.topnav-container {
  background-color: $whiteBackground;
  z-index: 10;
  position: sticky;
  top: 0;
  width: 100%;
  padding-left: 4rem;
  padding-right: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: $subtitleFontSize;
  letter-spacing: 0.2rem;
  font-weight: 600;
  text-transform: uppercase;
  box-shadow: 5px 10px 18px rgba(0, 0, 0, 0.143);
}

.topnav-logo {
  flex: 15%;
  text-align: left;
  margin-left: 2.5rem;
  img {
    margin: 0.5rem;
    width: 8rem;
    height: auto;
    transition: 0.4s ease-out;
    &:hover {
      opacity: 0.5;
    }
  }
}

.topnav-menu {
  flex: 70%;
  text-align: center;
  a {
    color: $blackFontColor;
    padding: 0 2.5rem 0 2.5rem;
    background: linear-gradient(
      60deg,
      $supplementaryFontColor 50%,
      $whiteBackground 50%
    );
    background-size: 250%;
    background-position: right;
    transition: 0.4s ease-out;
    &:hover {
      background-position: left;
      color: $whiteFontColor;
      text-decoration: none;
    }
  }
}

.topnav-socialmedia {
  flex: 15%;
  text-align: right;
  margin-right: 2.5rem;
  img {
    width: 2.5rem;
    height: auto;
    margin-left: 2rem;
    opacity: 0.3;
    transition: 0.4s ease-out;
    &:hover {
      opacity: 1;
    }
  }
}

@media screen and (max-width: 940px) {
  .topnav-container {
    font-size: $subtitleFontSize * 3/4;
  }
}

@media screen and (max-width: 825px) {
  .topnav-container {
    font-size: $subtitleFontSize;
    flex-wrap: wrap;
  }
  .topnav-logo {
    flex: 100%;
  }

  .topnav-menu {
    flex: 100%;
  }

  .topnav-socialmedia {
    flex: 100%;
  }
}
