.topjumbotron-container {
  width: 100%;
  height: 100vh;
}

.topjumbotron-container img {
  background-image: url('../../assets/image-example.jpg');
}

// @media screen and (max-width: 600px) {
//   .jumbotron-container {
//     width: 100%;
//     height: 100vh;
//   }

//   .jumbotron-container img {
//     width: 100%;
//     height: auto;
//   }
// }
